
# Ignore node_modules directory
node_modules/
environment
# Ignore .env files
.env.copy

# Ignore .build directory
.build/

# Ignore .vscode directory
.vscode/

# Ignore .idea directory
.idea/

src/libs/Notification.ts